{% include 'navbar.html' %}

<style>

    .mydiv:hover{
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 0 10px #f5f5f5;
        transform: scale(1.1);
    }
    </style>
<div class="container">
<h1 class="text-center" style="margin-top:50px"> Contact us </h1>
    <div class="row mt-5  text-center">
      <div class="col-lg-3 col-sm-6 mydiv">
        <h4>contact</h4>
        <p class="text-danger font-weight-bold mt-3"><a href="tel:52807531">52807531</a></p>
        </div>
      <div class="col-lg-3 col-sm-6 mydiv">
        <h4>Send-email</h4>
        <p class="text-danger font-weight-bold mt-3"><a href="mailto:youssefhammemy56@gmail.com">youssefhammemy56@gmail.com</a></p>
      </div>
    
   
      <div class="col-lg-3 col-sm-6 mydiv">
      <h4> Hospital address</h4>
      <p class="text-danger font-weight-bold mt-3"><a href="https://www.google.com/maps/search/Dar+salma/@36.5323838,10.5159794,16.35z">localistation</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 mydiv">
        <h4>Work time</h4>
        <p class="text-danger font-weight-bold mt-3">8:00-17:00</p>
       </div>
    </div>
  </div>