{% include 'adminnavbar.html' %}
<style>
    form {
      width: 50%;
      margin: 50px auto;
      padding: 30px;
      background-color: white;
      box-shadow: 0px 0px 10px lightgray;
      border-radius: 10px;
    }
    
    label {
      font-weight: bold;
      margin-top: 20px;
      display: block;
      font-size: 1.2em;
    }
    
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid lightgray;
      font-size: 1.2em;
    }
    
    input[type="submit"] {
      width: 100%;
      margin-top: 30px;
      padding: 15px;
      background-color: lightblue;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      font-size: 1.2em;
      cursor: pointer;
    }
    
    input[type="submit"] {
      background-color: steelblue;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<form action="" method="post">
    {% csrf_token %}
    {{ form.old_password.label_tag }} {{ form.old_password }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    
    {% if form.errors %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    title: 'Error!',
                    icon: 'error',
                    html: `<ul>{% for field, errors in form.errors.items %}{% for error in errors %}<li>{{ error }}</li>{% endfor %}{% endfor %}</ul>`,
                });
            });
        </script>
    {% endif %}
    
    <input type="submit" value="Change" />
</form>
